/*
Theme Name: Blank Child Theme
Theme URI: http://groupbuyingsite.com
Description: This theme will be identical to the Prime Theme until you add modifications.
Author: Group Buying Site
Author URI: http://groupbuyingsite.com
Version: 1.0
template: prime-theme
*/

/* 
Add your custom styles below:
*/


.prime {
	background-position: center bottom;
	border-bottom: 1px solid #ccc;
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 1px 1px #7d7d7d;
}

#header_wrap, #footer_wrap{
	background-color: #181818;
    color: white;
	
}
}